<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/conn.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        
        <form  method="POST" action="/">
            <h1>CONNEXION</h1>
            

            <label><b>Email</b></label>
            <input type="email" placeholder="Entrer  votre email" name="email" required>

            <label><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer le mot de passe" name="password" required>


            <label class="lien">veuillez créer votre <a href="/index">compte</a></label>
            <input type="submit" id='submit' value='LOGIN' >
        </form>
    </div>
</body>
</html>
